webClientProyecto/src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_52012/WebService/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ModeloServicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ModeloServicio/">

<xs:element name="Actualizar" type="tns:Actualizar"/>

<xs:element name="ActualizarResponse" type="tns:ActualizarResponse"/>

<xs:element name="Eliminar" type="tns:Eliminar"/>

<xs:element name="EliminarResponse" type="tns:EliminarResponse"/>

<xs:element name="agregar" type="tns:agregar"/>

<xs:element name="agregarResponse" type="tns:agregarResponse"/>

<xs:element name="insertarArchivo" type="tns:insertarArchivo"/>

<xs:element name="insertarArchivoResponse" type="tns:insertarArchivoResponse"/>

<xs:element name="listarLaboratorio" type="tns:listarLaboratorio"/>

<xs:element name="listarLaboratorioResponse" type="tns:listarLaboratorioResponse"/>

<xs:element name="listarMedicamentos" type="tns:listarMedicamentos"/>

<xs:element name="listarMedicamentosResponse" type="tns:listarMedicamentosResponse"/>

<xs:element name="listarNombre" type="tns:listarNombre"/>

<xs:element name="listarNombreResponse" type="tns:listarNombreResponse"/>

<xs:element name="listarcodigo" type="tns:listarcodigo"/>

<xs:element name="listarcodigoResponse" type="tns:listarcodigoResponse"/>

<xs:element name="ventaActualizar" type="tns:ventaActualizar"/>

<xs:element name="ventaActualizarResponse" type="tns:ventaActualizarResponse"/>

<xs:complexType name="ventaActualizar">
<xs:sequence>
<xs:element name="Codigo" type="xs:int"/>
<xs:element name="Cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ventaActualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarArchivo">
<xs:sequence>
<xs:element name="rutaArchivo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarArchivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar">
<xs:sequence>
<xs:element name="Codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:medicamento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="medicamento">
<xs:sequence>
<xs:element name="cantidad_existencia" type="xs:int"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="dosis" type="xs:string" minOccurs="0"/>
<xs:element name="laboratorio_farmaceutico" type="xs:string" minOccurs="0"/>
<xs:element name="medicamento" type="xs:string" minOccurs="0"/>
<xs:element name="precio_unitario" type="xs:double"/>
<xs:element name="presentacion" type="xs:string" minOccurs="0"/>
<xs:element name="vencimiento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizar">
<xs:sequence>
<xs:element name="Codigo" type="xs:int"/>
<xs:element name="Medicamento" type="xs:string" minOccurs="0"/>
<xs:element name="Dosis" type="xs:string" minOccurs="0"/>
<xs:element name="Precio_unitario" type="xs:double"/>
<xs:element name="Cantidad_existencia" type="xs:int"/>
<xs:element name="Laboratorio_farmaceutico" type="xs:string" minOccurs="0"/>
<xs:element name="Vencimiento" type="xs:string" minOccurs="0"/>
<xs:element name="Presentacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarMedicamentos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarMedicamentosResponse">
<xs:sequence>
<xs:element name="return" type="tns:medicamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar">
<xs:sequence>
<xs:element name="Medicamento" type="xs:string" minOccurs="0"/>
<xs:element name="Dosis" type="xs:string" minOccurs="0"/>
<xs:element name="Precio_unitario" type="xs:double"/>
<xs:element name="Cantidad_existencia" type="xs:int"/>
<xs:element name="Laboratorio_farmaceutico" type="xs:string" minOccurs="0"/>
<xs:element name="Vencimiento" type="xs:string" minOccurs="0"/>
<xs:element name="Presentacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarcodigo">
<xs:sequence>
<xs:element name="Codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarcodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:medicamento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarNombre">
<xs:sequence>
<xs:element name="nombreMedicamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarNombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:medicamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarLaboratorio">
<xs:sequence>
<xs:element name="LaboratorioFarmaceutico" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarLaboratorioResponse">
<xs:sequence>
<xs:element name="return" type="tns:medicamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>