webClientProyecto/web/WEB-INF/wsdl/webServiceProyecto.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ModeloServicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ModeloServicio/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://ModeloServicio/" schemaLocation="http://localhost:8080/web-app-java/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="ventaActualizar">
<part name="parameters" element="tns:ventaActualizar"/>
</message>
<message name="ventaActualizarResponse">
<part name="parameters" element="tns:ventaActualizarResponse"/>
</message>
<message name="insertarArchivo">
<part name="parameters" element="tns:insertarArchivo"/>
</message>
<message name="insertarArchivoResponse">
<part name="parameters" element="tns:insertarArchivoResponse"/>
</message>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<message name="listarNombre">
<part name="parameters" element="tns:listarNombre"/>
</message>
<message name="listarNombreResponse">
<part name="parameters" element="tns:listarNombreResponse"/>
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar"/>
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse"/>
</message>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar"/>
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse"/>
</message>
<message name="listarLaboratorio">
<part name="parameters" element="tns:listarLaboratorio"/>
</message>
<message name="listarLaboratorioResponse">
<part name="parameters" element="tns:listarLaboratorioResponse"/>
</message>
<message name="listarMedicamentos">
<part name="parameters" element="tns:listarMedicamentos"/>
</message>
<message name="listarMedicamentosResponse">
<part name="parameters" element="tns:listarMedicamentosResponse"/>
</message>
<message name="listarcodigo">
<part name="parameters" element="tns:listarcodigo"/>
</message>
<message name="listarcodigoResponse">
<part name="parameters" element="tns:listarcodigoResponse"/>
</message>
<portType name="Servicios">
<operation name="ventaActualizar">
<input wsam:Action="http://ModeloServicio/Servicios/ventaActualizarRequest" message="tns:ventaActualizar"/>
<output wsam:Action="http://ModeloServicio/Servicios/ventaActualizarResponse" message="tns:ventaActualizarResponse"/>
</operation>
<operation name="insertarArchivo">
<input wsam:Action="http://ModeloServicio/Servicios/insertarArchivoRequest" message="tns:insertarArchivo"/>
<output wsam:Action="http://ModeloServicio/Servicios/insertarArchivoResponse" message="tns:insertarArchivoResponse"/>
</operation>
<operation name="agregar">
<input wsam:Action="http://ModeloServicio/Servicios/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://ModeloServicio/Servicios/agregarResponse" message="tns:agregarResponse"/>
</operation>
<operation name="listarNombre">
<input wsam:Action="http://ModeloServicio/Servicios/listarNombreRequest" message="tns:listarNombre"/>
<output wsam:Action="http://ModeloServicio/Servicios/listarNombreResponse" message="tns:listarNombreResponse"/>
</operation>
<operation name="Eliminar">
<input wsam:Action="http://ModeloServicio/Servicios/EliminarRequest" message="tns:Eliminar"/>
<output wsam:Action="http://ModeloServicio/Servicios/EliminarResponse" message="tns:EliminarResponse"/>
</operation>
<operation name="Actualizar">
<input wsam:Action="http://ModeloServicio/Servicios/ActualizarRequest" message="tns:Actualizar"/>
<output wsam:Action="http://ModeloServicio/Servicios/ActualizarResponse" message="tns:ActualizarResponse"/>
</operation>
<operation name="listarLaboratorio">
<input wsam:Action="http://ModeloServicio/Servicios/listarLaboratorioRequest" message="tns:listarLaboratorio"/>
<output wsam:Action="http://ModeloServicio/Servicios/listarLaboratorioResponse" message="tns:listarLaboratorioResponse"/>
</operation>
<operation name="listarMedicamentos">
<input wsam:Action="http://ModeloServicio/Servicios/listarMedicamentosRequest" message="tns:listarMedicamentos"/>
<output wsam:Action="http://ModeloServicio/Servicios/listarMedicamentosResponse" message="tns:listarMedicamentosResponse"/>
</operation>
<operation name="listarcodigo">
<input wsam:Action="http://ModeloServicio/Servicios/listarcodigoRequest" message="tns:listarcodigo"/>
<output wsam:Action="http://ModeloServicio/Servicios/listarcodigoResponse" message="tns:listarcodigoResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ventaActualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarArchivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarLaboratorio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMedicamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarcodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/web-app-java/Servicios"/>
</port>
</service>
</definitions>